
body{
    margin: 0%;
    height: 100%;
    background-color: #20305e;

}
.sidebar
{   height: auto;
    width: 17.5rem;
    margin-right: 10px;
    background-color: #a8d0e6;
    color: black;
   
}
li a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
.sidebar nav{
    padding-right: 40px;
    
}
.sidebar nav li{
    text-decoration: none;
    list-style: none;
    font-size: 26px;
    padding-top: 50px;
    cursor: pointer;
}
.sidebar nav li:hover{
    
    font-size: 165%;
}

 .site .sidebar .fa{
    height: 100%;
    color:black;
  }
.site
{
    display: flex;
}
.head p{
    font-size: 64px;
    font-weight: bold;
    font-style: '\f2ad';
    text-align: center;
    color: #fff;
}
.post{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.post div{
    background: #f8e9a1;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius:10px;
    transition: background 0.5s,transform 0.5s;
}
.post div i{
    font-size:50px;
    margin-bottom: 30px;

}
.post div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:10px;
}
.post div a{
    text-decoration: none;
    color:aliceblue;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.post div a:hover{
    background: black;
    transform:translateY(-10px);
}
.post div h4{
    font-size:18px;
    font-weight:500;
    margin:0%;
    text-align: right;
}
.container{
    margin: 30px;
}