*{margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing : border-box;
    
    }
    html{
        scroll-behavior: smooth;
        height: 100%;
    }
    body{
        background-image: url("resources/BG.jpg");
        color:black;
        width: auto;
        height: 100%;
        background-size: cover;
    }
    .container{
        padding-left:60px;
        padding-right:20px;
        padding-top: 20px;
        border-radius: 4px;
        border-color: #5da2d5;
    }
#about{
    padding:50px 0px;
    color: #ababaa;
}



/*---------------------contact----------*/
.contact-left{
    flex-basis: 35%;
    margin-top: 10px;
    
}
.contact-right{
    flex-basis: 60%;
    margin-top: 50px;
}
.contact-left p{
    margin-top: 15px;

}
.contact-right p{
    color:#fff;
    padding-top: 20px;
    margin-right: 20px;
    font-size:20px;
    font-style:'\f032';
    text-align: center;
}
.social-icon{
    margin-top: 30px;
margin-left: 80px;}
.social-icon a{
    text-decoration: none;
    font-size:40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:15px;
    color:black;
    display:inline-block;
    transition :transform 0.5s;
}
.social-icon a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.btn.btn2{
    display:inline-block;
    background:#374785;
    margin-top: 30px;
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:80%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:15px;
    border-radius: 6px;
}
form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#heading p{
    text-align: center;
    font-size: 64px;
    font-style: bold;
    padding: 60px;
    font-family: 'Satisfy', cursive;
}

/*------------css for small screen---------*/
@media only screen and (max-width:600px){
    #header{
        background-image:url(port.jpg);
    }
}   